/*************************
variables
*************************/

$color-green: #2ca997;
$color-black: #000;
$color-red: #e45252;
$color-grey: #ddd;
$color-blue: #2e88f7;

/*************************
global
*************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.6);
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
}

/*************************
card styles
*************************/

.selection-card {
  margin-top: 15px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);

  .back {
    display: none;
  }

  // when flipped
  &.js-flipped {
    .flip-container {
      -webkit-perspective: 1000;
      background: $color-grey;
    }

    .flip-container:hover .flipper {
      -webkit-transform: rotateY(180deg);
    }

    .flip-container,
    .front,
    .back {
      display: block;
      width: 320px;
      min-height: 630px;
    }

    /* flip speed goes here */
    .flipper {
      -webkit-transition: 0.6s;
      -webkit-transform-style: preserve-3d;
      position: relative;
    }

    /* hide back of pane during swap */
    .front,
    .back {
      -webkit-backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }

    /* front pane, placed above back */
    .front {
      z-index: 2;
      background-color: #fff;
      display: flex;
      flex-direction: column;
    }

    /* back, initially hidden pane */
    .back {
      -webkit-transform: rotateY(180deg);
      background-color: $color-green;
      display: flex;
      align-items: center;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      padding: 20px;
    }
  }

  &__details {
    padding: 10px 20px;
  }

  &__details-list {
    list-style: none;
  }

  &__details-list-item {
    .car-title {
      font-weight: 600;
      margin-bottom: 15px;
    }
  }

  &__price {
    margin-top: 20px;

    > * {
      display: block;
    }

    .price-label {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .price-amount {
      font-size: 26px;
      font-weight: 300;
    }

    .price-amount span {
      color: $color-green;
    }
  }
}

/*************************
swatches section/form
*************************/
form {
  margin-top: auto;
}

.swatch {
  display: flex;
  margin: 20px;

  //label
  &__item-label {
    height: 55px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.4);
    }

    &::before {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.3);
      content: " ";
      position: absolute;
      clip-path: polygon(100% 0, 0 0, 0 100%);
    }
  }

  div {
    flex: 1;

    &:nth-child(1) {
      background-color: #000;
    }
    &:nth-child(2) {
      background-color: #e45252;
    }
    &:nth-child(3) {
      background-color: #ddd;
      .swatch__item:checked {
        & + label::after {
          border-color: #6b6161;
        }
      }
    }
    &:nth-child(4) {
      background-color: #2e88f7;
    }

    & + div {
      margin-left: 15px;
    }
  }

  //swatch input
  &__item {
    display: none;

    &:checked {
      //check mark
      & + label::after {
        content: "";
        display: block;
        width: 8px;
        height: 20px;
        border: solid #fff;
        border-width: 0 6px 6px 0;
        transform: rotate(45deg);
        z-index: 1;
      }
    }
  }
}

/*************************
call to action
*************************/
.cta {
  background-color: $color-green;
  padding: 25px 10px;
  position: relative;

  &::after {
    width: 35%;
    height: 100%;
    right: 0;
    bottom: 0;
    content: " ";
    position: absolute;
    background-image: url("/images/houdstooth-primary-secondary-teal.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 200%;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }

  &__button {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    color: #fff;
    font-size: 25px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 1;

    &.active {
      transition: all 0.3s;
      &:hover {
        transform: scale(1.02);
      }
    }
  }
}
